%header
  %p チャットグループが作成されました
.chat
  .chat__side
    .chat__side__user
      %h5.chat__side__user__name yasuyuki
      .chat__side__user__icons
        %a{href: ""}
          %i.fa.fa-pencil-square-o
        %a{href: ""}
          %i.fa.fa-cog
    %ul.chat__side__groups
      %li
        %p.group-name aaaaaa
        %p.group-message まだメッセージはありません。
      %li
        %p.group-name bbbbbb
        %p.group-message まだメッセージはありません。
  .chat__main
    .chat__main__header
      .chat__main__header__group
        %h2.chat__main__header__group__title sampleグループ
        %p.chat__main__header__group__members Members: yasuyuki
      %p.chat__main__header__edit Edit
    .chat__main__body
      %ul.chat__main__body__messages
        %li.chat__main__body__messages__message
          %p.chat__main__body__messages__message__name yasuyuki
          %p.chat__main__body__messages__message__time 2017/10/10 08:20:00
          %p.chat__main__body__messages__message__body わああああい！
        %li.chat__main__body__messages__message
          %p.chat__main__body__messages__message__name yasuyuki
          %p.chat__main__body__messages__message__time 2017/10/10 09:20:00
          %p.chat__main__body__messages__message__body やったああああ！
    .chat__main__footer
      %form
        .form__window
          %textarea{row: "1", placeholder: "type a message"}
          %button
            %i.fa.fa-picture-o
        %input#submit{type: "submit", value: "Send"}
