$color-notify: #38AEF0;
$color-notify-font: #FFFFFF;
$color-button: $color-notify;
$color-sideheader: #253141;
$color-sidebody: #2f3e51;
$color-side-font: #FFFFFF;
$color-chatheader: #FFFFFF;
$color-chatheader-font: #333333;
$color-chat-subfont: #999999;
$color-chatbody: #AAAAAA;
$color-chatbody-font: #434A54;
$color-chatfootter: #D5D5D5;

